 <section class="bg-gray-100 min-h-screen flex items-center justify-center bg-no-repeat bg-cover bg-right" style="background-image: url(https://www.wallpapertip.com/wmimgs/24-243133_light-flowers-blue-turquoise-white-backgrounds-hd-wallpapers.jpg);">


  <div class="w-1/2 bg-slate-300 flex rounded-2xl shadow-xl">
  <div class="w-1/2 flex flex-col items-center mt-14">
<!--forms-->
<p class="text-4xl font-mono text-green-800">Login</p>
<p class="font-sans text-gray-700">Please login to your admin account to post a new blog post</p>
<form class="flex flex-col gap-3 w-full px-8 py-4">

  <input type="email" class="w-full h-16 rounded-lg" placeholder="Email">
  <input type="password" class="w-full h-16 rounded-lg" placeholder="password">
  <button class="bg-green-700 py-4 text-2xl text-white rounded-lg">Login</button>

</form>

  </div>

  <div class="w-1/2">
<!-- image -->
  <img src="https://thumbs.dreamstime.com/b/creative-padlock-safety-wallpaper-glowing-digital-protection-concept-d-rendering-156405288.jpg" class="rounded-xl h-[35rem] ">
  </div>

</div>

 </section>
