 <section class="bg-gray-100 min-h-screen flex items-center justify-center bg-no-repeat bg-cover bg-right border-y" style="background-image: url(https://www.wallpapertip.com/wmimgs/24-243133_light-flowers-blue-turquoise-white-backgrounds-hd-wallpapers.jpg);">


  <div class="md:w-1/2 bg-slate-200 flex md:rounded-2xl rounded shadow-xl max-md:bg-blue-100">
  <div class="md:w-1/2 flex flex-col items-center mt-14">
<!--forms-->
<p class="text-4xl font-mono text-green-800">Login</p>
<p class="font-sans text-gray-700 max-md:px-2">Please login to your admin account to post a new blog post</p>
<form class="flex flex-col gap-3 w-full md:px-8 px-2 py-4" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">

  <input type="email"
         class="w-full h-16 rounded-lg"
         placeholder="Email"
         #Email="ngModel"
         name="email"
         ngModel
         required>


     <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative w-full"
           role="alert" *ngIf="Email.touched && Email.invalid">
        <strong class="font-bold">Email cannot be empty</strong>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
          <svg
            class="fill-current h-6 w-6 text-red-500"
            role="button"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <title>Close</title>
            <path
              d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
            />
          </svg>
        </span>
      </div>


  <input type="password"
         class="w-full h-16 rounded-lg"
         placeholder="password"
         #Password="ngModel"
         name="password"
         ngModel
         required>


         <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative w-full"
         role="alert" *ngIf="Password.touched && Password.invalid ">
      <strong class="font-bold">Password cannot be empty</strong>
      <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
        <svg
          class="fill-current h-6 w-6 text-red-500"
          role="button"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <title>Close</title>
          <path
            d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
          />
        </svg>
      </span>
    </div>




  <button class="bg-green-700 py-4 text-2xl text-white rounded-lg" [disabled]="loginForm.invalid" [ngClass]="{'bg-slate-400':loginForm.invalid}">Login</button>

</form>

  </div>

  <div class="w-1/2 max-md:hidden">
<!-- image -->
  <img src="https://thumbs.dreamstime.com/b/creative-padlock-safety-wallpaper-glowing-digital-protection-concept-d-rendering-156405288.jpg" class="rounded-xl h-[35rem] ">
  </div>

</div>

 </section>
