
<div class="flex bg-blue-100 shadow-xl flex-col w-fit h-fit px-20 justify-center items-center py-16 gap-2 md:rounded-xl cursor-pointer focus:bg-slate-200" routerLink="category">
  <span class="material-symbols-outlined text-7xl text-green-700">
    assignment
    </span>
    <h1 class="text-4xl text-green-700">Category</h1>
    <p class="text-lg text-gray-600">Mange Your Category Details Here</p>
</div>


<div class="flex bg-blue-100 shadow-xl flex-col w-fit h-fit px-24 justify-center items-center py-16 gap-2 md:rounded-xl cursor-pointer focus:bg-slate-200" routerLink="post">
  <span class="material-symbols-outlined text-7xl text-green-700">
    local_shipping
    </span>
    <h1 class="text-4xl text-green-700">Post</h1>
    <p class="text-lg text-gray-600">Mange Your Post Details Here</p>
</div>

